<div class="hero-wrapper">
    <img class="hero-img" src="./../../assets/images/about_us.jpg" alt="about hero">
</div>
<div class="wrapper">
    <div class="about-container">
        <h2 class="section-title">Despre noi</h2>
        <p class="section-text">
            Cabinetul de Expertiza Contabila Urs Bogdan va ofera servicii complete 
            de contabilitate la cele mai inalte standarde de calitate si la preturi 
            accesibile. Principiile dupa care ne ghidam sunt: calitate, profesionalism, 
            confidentialitate si dezvoltare continua. <br><br>
            Cabinetul este condus de Bogdan Urs, expert contabil membru activ CECCAR, 
            cu o experienta de peste {{ +currentYear - 2010 }} ani in domeniul financiar-contabil si al auditului.
            Colaboram cu avocati specializati pe drept comercial, auditori statutari, 
            consultanti fiscali si profesionisti cu experienta in domeniul managementului 
            fondurilor europene.<br><br>
            Infiintarea si gestionarea unei afaceri presupune luarea unor decizii care 
            implica aspecte contabile, fiscale sau juridice. Toate aceste decizii fac 
            diferenta intre o afacere profitabila si o afacere neprofitabila. Apelarea la 
            serviciile unui expert contabil va asigura o evidenta contabila care exprima 
            corect realitatea financiara a companiei. Noi suntem mereu la curent cu ultimele 
            modificari legislative astfel incat putem oferi partenerilor nostri solutii 
            optime pentru contabilizarea operatiunilor curente, solutii de optimizare 
            fiscala si consultanta de specialitate in domeniu.<br><br>
            Cunoastem si aplicam Standardele Internationale de Contabilitate si am efectuat 
            misiuni de retratare a situatiilor financiare in conformitate cu IFRS. Efectuam 
            de asemenea si lucrari de intocmire a situatiilor financiare consolidate in cazul 
            societatilor care fac parte dintr-un grup.<br><br>
            Consideram ca experinta dobandita in contabilitate si in audit, un domeniu care 
            solicita cunostinte vaste de contabilitate, audit si fiscalitate, precum si 
            mentinerea unui nivel ridicat de profesionalism, ne recomanda ca o solutie logica 
            pentru afacerea dumneavoastra.<br><br>
            De-a lungul timpului am avut colaborari foarte bune atat cu societati cu capital 
            romanesc cat si cu societati rezidente a altor state din Uniunea Europeana precum 
            Austria, Germania si Elvetia.​
        </p>
    </div>
</div>
<div class="wrapper about-wrapper">
    <div class="title-container">
        <h2 class="section-title">Echipa noastra</h2>
    </div>
    <div class="team-container">
        <div class="team-item">
            <img class="team-img" src="./../../assets/images/bogdan.jpg">
            <h2>Bogdan Urs</h2>
            <p>Managing Partner <br> Expert Contabil membru CECCAR</p>
            <p>
                Absolvent al Facultatii de Stiinte Economice cu o experienta de {{ +currentYear - 2010 }} ani in domeniul 
                contabilitatii si auditului financiar. Este membru activ al Corpului Expertilor 
                Contabili si Contabililor Autorizati din Romania (CECCAR), membru stagiar al Camerei 
                Auditorilor Financiari din Romania (CAFR), membru stagiar ACCA (Association of 
                Chartered Certified Accountants) – Marea Britanie. ACCA este cel mai mare organism 
                profesional international care ofera o calificare superioara recunoscuta international 
                in domeniul contabilitatii si al auditului.
            </p>
        </div>
        <div class="team-item">
            <img class="team-img" src="./../../assets/images/carmen.jpg">
            <h2>Carmen Amalia Urs</h2>
            <p>Economist</p>
            <p>
                Absolventa a Facultatii de Stinte Economice, cu studii superioare masterale. Are o 
                experienta de {{ +currentYear - 2013 }} ani in domeniul economic. In acesta perioada a urmat diverse cursuri 
                de specializare in domeniu, principala preocupare fiind dezvoltarea si perfectionarea 
                profesionala.
            </p>
        </div>
        <div class="team-item">
            <img class="team-img" src="./../../assets/images/ecaterina.jpg">
            <h2>Ecaterina Torj</h2>
            <p>Economist</p>
            <p>
                Este absolventa de Stiinte Economice cu studii superioare masterale, cu o experienta de 
                peste {{ +currentYear - 2012 }} ani in managementul proiectelor. Pe parcursul intregii activitați profesionale a 
                dobandit competente si aptitudini in managementul proiectelor cu finantare nerambursabila, 
                precum si in implementarea proiectelor. De asemenea, a absolvit cursuri de specializare in domeniu.
            </p>
        </div>
    </div>
</div>
<app-contact-section></app-contact-section>
