<div class="contact-section">
    <div class="container">
        <div class="text-container">
            <h2>Contacteaza-ne cu incredere!</h2>
            <p>
                Pentru detalii suplimentare contactati-ne prin e-mail,
                telefon sau formularul disponibil in sectiunea Contact si impreuna vom
                gasi cele mai bune solutii pentru afacerea Dumneavoastra!
            </p>
        </div>
        <button 
            mat-flat-button
            class="action-button">
            Contactati-ne <mat-icon class="navbar-toggler-icon">double_arrow</mat-icon>
        </button>
    </div>
</div>
