<div class="hero">
    <div class="container">
        <h2>URS BOGDAN</h2>
        <h1>CABINET DE EXPERTIZA CONTABILA</h1>
        <h3>
            Servicii contabile. <br>
            Impreuna dezvoltam afacerea dumneavoastra!
        </h3>
        <button 
            mat-flat-button
            class="action-button">
            Descopera
        </button>
    </div>
</div>
<div class="wrapper">
    <div class="services-container">
        <img class="home-details-img" src="./../../assets/images/home_services.png" alt="services">
        <div class="text-container">
            <h2 class="title">Servicii</h2>
            <p class="text">
                Cabinetul nostru de expertiza contabila ofera servicii complete de contabilitate 
                pentru Societati Comerciale si PFA la cele mai inalte standarde de calitate. 
                Organizam si conducem evidenta contabila, intocmim si depunem declaratii fiscale, 
                intocmim bilant. Oferim de asemenea si servicii de salarizare - inregistrare contracte 
                de munca in REVISAL, state de plata, intocmire si transmitere ordine de plata pentru 
                contributiile aferentemsalariilor…
            </p>
            <button 
                mat-flat-button
                class="action-button">
                Citeste mai mult <mat-icon class="navbar-toggler-icon">double_arrow</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="wrapper about-wrapper">
    <div class="about-container">
        <div class="text-container">
            <h2 class="title">Echipa noastra</h2>
            <p class="text">
                Suntem o echipa de profesionisti cu experienta in domeniul financiar-contabil. 
                Calificarile obtinute de-a lungul timpului ne recomanda ca fiind solutia ideala pentru 
                afacerea dumneavoastra. Cabinetul este condus de Urs Bogdan, expert contabil membru activ 
                CECCAR, cu experienta de peste 6 ani in domeniul financiar-contabil si al auditului. 
                Colaboram cu avocati specializati pe drept comercial, auditori statutari, consultanti fiscali…
            </p>
            <button 
                mat-flat-button
                class="action-button">
                Citeste mai mult <mat-icon class="navbar-toggler-icon">double_arrow</mat-icon>
            </button>
        </div>
        <img class="home-details-img" src="./../../assets/images/home_about.png" alt="services">
    </div>
</div>
<app-contact-section></app-contact-section>
