<footer class="footer">
    <div class="container">
        <div class="footer-item">
            <h3 class="item-title">Echipa Noastra</h3>
            <a routerLink="/about-us" class="footer-link">Bogdan Urs</a>
            <a routerLink="/about-us" class="footer-link">Carmen Amalia Urs</a>
            <a routerLink="/about-us" class="footer-link">Ecaterina Torj</a>
        </div>
        <div class="footer-item">
            <h3 class="item-title">Servicii</h3>
            <a routerLink="/services" class="footer-link">Servicii contabile</a>
            <a routerLink="/services" class="footer-link">Personal-salarizare</a>
            <a routerLink="/services" class="footer-link">Fonduri Europene</a>
            <a routerLink="/services" class="footer-link">Retratari situatii financiare</a>
            <a routerLink="/services" class="footer-link">Situatii financiare consolidate</a>
        </div>
        <div class="footer-item">
            <h3 class="item-title">Linkuri Utile</h3>
            <a href="" class="footer-link">CARF</a>
            <a href="" class="footer-link">CECCAR</a>
            <a href="" class="footer-link">Ministerul de finante</a>
        </div>
        <div class="footer-item">
            <h3 class="item-title">Contact</h3>
            <div class="address-item">
                <mat-icon class="navbar-toggler-icon">location_on</mat-icon>
                <p>
                    Str. Dimitrie Cantemir nr. 24, <br>
                    410519 Oradea, Bihor
                </p>
            </div>
            <div class="address-item">
                <mat-icon class="navbar-toggler-icon">phone</mat-icon>
                <p>Telefon: +40 740 643 468</p>
            </div>
            <div class="address-item">
                <mat-icon class="navbar-toggler-icon">print</mat-icon>
                <p>Fax: +40 359 800 586</p>
            </div>
            <div class="address-item">
                <mat-icon class="navbar-toggler-icon">email</mat-icon>
                <p>
                    E-mail: <a href="mailto:office@contabilitatebihor.ro">office@contabilitatebihor.ro</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>Copyright © {{ currentYear }} Cabinet de Expertiza Contabila Urs Bogdan</p>
    <p>Designed by <a href="https://www.behance.net/Rocsa">Roxana Urs</a> and developed by <a href="https://www.linkedin.com/in/ursionut">Ionut Urs</a></p>
</div>
